# One Way Anova

In [ ]:
import pandas as pd

#ANOVA
import scipy.stats as stats
import researchpy as rp
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp

import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Loading data
df = pd.read_excel("Anova_demo.xlsx")
df

  Type_of_Car  Sales
0         i20     20
1       Swift     10
2      Baleno     30
3         i20     10
4       Swift      8
5      Baleno     20
6         i20     14
7       Swift     11
8      Baleno     35

# Level of Significance or error
* Alpha = 0.05 (5%)

#### Hypothesis

* H0 :  There is no significant difference between the all type of car with respect to sales
Vs

* H1 :  There is significant difference between the all type of car with respect to sales

#### Method 1

In [ ]:
stats.f_oneway(df['Sales'][df['Type_of_Car'] == 'i20'],
             df['Sales'][df['Type_of_Car'] == 'Swift'],
             df['Sales'][df['Type_of_Car'] == 'Baleno'])

F_onewayResult(statistic=9.771317829457363, pvalue=0.012961540621068553)

#### Method 2

In [ ]:
results = ols('Sales ~ C(Type_of_Car)', data=df).fit()

In [ ]:
aov_table = sm.stats.anova_lm(results, typ=2)

aov_table

                    sum_sq   df         F    PR(>F)
C(Type_of_Car)  560.222222  2.0  9.771318  0.012962
Residual        172.000000  6.0       NaN       NaN

# Conclusion
* We Reject Ho

*  There is significant difference between the all type of car with respect to sales

### Post-hoc Testing

* H0:- there is no different in type of car
    vs
* H1:- there is different in type of car

In [ ]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

mc = MultiComparison(df['Sales'], df['Type_of_Car'])
mc_results = mc.tukeyhsd()
print(mc_results)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
Baleno  Swift -18.6667 0.0124 -32.0644  -5.269   True
Baleno    i20 -13.6667 0.0463 -27.0644  -0.269   True
 Swift    i20      5.0 0.5256  -8.3977 18.3977  False
-----------------------------------------------------

* Baleno is different then compare to other car in terms of Sales

# Two Anova

In [ ]:
# Loading data
df = pd.read_excel("Anova_demo.xlsx",sheet_name="two")
df

       Location Type_of_Car  Sales
0         India         i20     20
1         India       Swift     10
2         India      Baleno     30
3          Oman         i20     10
4          Oman       Swift      8
5          Oman      Baleno     20
6  Saudi Arabia         i20     14
7  Saudi Arabia       Swift     11
8  Saudi Arabia      Baleno     35

#### Hypothesis

### Car
* H0 :  There is no significant difference between the all type of car with respect to sales
Vs

* H1 :  There is significant difference between the all type of car with respect to sales


### Location  
* H0 :  There is no significant difference between the all type of Location with respect to sales
Vs

* H1 :  There is significant difference between the all type of Location with respect to sales

In [ ]:
model = ols('Sales ~ C(Type_of_Car)+C(Location)', df).fit()

In [ ]:
# Creates the ANOVA table
result = sm.stats.anova_lm(model, typ= 2)
result  # Alpha = 0.05

                    sum_sq   df          F    PR(>F)
C(Type_of_Car)  560.222222  2.0  17.386207  0.010643
C(Location)     107.555556  2.0   3.337931  0.140383
Residual         64.444444  4.0        NaN       NaN

# Conclusion
* We Reject Ho for type of car

*  There is significant difference between the all type of car with respect to sales
*  There is no significant difference between the location with respect to sales

### Post-hoc Testing

In [ ]:
mc = statsmodels.stats.multicomp.MultiComparison(df['Sales'], df['Type_of_Car'])
mc_results = mc.tukeyhsd()
print(mc_results)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
Baleno  Swift -18.6667 0.0124 -32.0644  -5.269   True
Baleno    i20 -13.6667 0.0463 -27.0644  -0.269   True
 Swift    i20      5.0 0.5256  -8.3977 18.3977  False
-----------------------------------------------------

In [ ]:
mc = statsmodels.stats.multicomp.MultiComparison(df['Sales'], df['Location'])
mc_results = mc.tukeyhsd()
print(mc_results)  # Alpha = 0.05

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================
group1    group2    meandiff p-adj   lower    upper  reject
-----------------------------------------------------------
 India         Oman  -7.3333 0.6645 -32.8657  18.199  False
 India Saudi Arabia      0.0    0.9 -25.5323 25.5323  False
  Oman Saudi Arabia   7.3333 0.6645  -18.199 32.8657  False
-----------------------------------------------------------